/* // FILEPATH: /workspaces/debin.github.io/Background.css
// LAST MODIFIED: 2021-07-26
// DESCRIPTION: Background animation for the website. */

.css-selector {
    background: linear-gradient(358deg, #100c55, #611396, #421aa7, #240c6d);
    background-size: cover;
    -webkit-animation: Background 36s ease infinite;
    -moz-animation: Background 36s ease infinite;
    -o-animation: Background 36s ease infinite;
    animation: Background 36s ease infinite;
}
@-webkit-keyframes Background {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes Background {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes Background {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes Background {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}