/*// FILEPATH: /workspaces/debin.github.io/Background.css
// LAST MODIFIED: 2021-07-26
// DESCRIPTION: Background animation for the website. */

.animate{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(358deg, #100c55, #611396, #421aa7, #240c6d);
    background-size: contain;
    animation: bg 36s ease infinite;
}

@keyframes bg {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}